.sidebars{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    height: 100%;
    position: fixed;
    border-right: 1px solid rgb(192, 190, 190);
    z-index: 3;
    margin-left: 5px;
   padding-bottom: 10px;
}
.logo-container{
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.logo{
    font-size: 45px;
}